@page "/institucion/editar/{rowKey}"

@inject IInstitucionService servicioInstitucion
@inject NavigationManager nav
@inject SweetAlertService sweetAlertService

<h3>Editar Institución</h3>

@if (institucion != null)
{
    <EditForm EditContext="contextoEdicion">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label>Nombre:</label>
            <div>
                <InputText class="form-control" @bind-Value="@institucion.Nombre" />
                <ValidationMessage For="@(() => institucion.Nombre)" />
            </div>
        </div>

        <div class="mb-3">
            <label>Tipo:</label>
            <div>
                <InputText class="form-control" @bind-Value="@institucion.Tipo" />
                <ValidationMessage For="@(() => institucion.Tipo)" />
            </div>
        </div>

        <div class="mb-3">
            <label>Dirección:</label>
            <div>
                <InputText class="form-control" @bind-Value="@institucion.Direccion" />
                <ValidationMessage For="@(() => institucion.Direccion)" />
            </div>
        </div>
        <div class="mb-3">
            <label>Estado:</label>
            <div>
                <select class="form-control" @bind="@institucion.Estado">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary"@onclick="Editar">Editar</button>
        <button class="btn btn-primary" @onclick="CancelarEdicion">Cancelar</button> <!-- Modificado -->
    </EditForm>
}
else
{
    <p>Cargando...</p>
}

@code {
    private EditContext contextoEdicion;
    private Institucion institucion;

    [Parameter]
    public string rowKey { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY";
        institucion = await servicioInstitucion.ObtenerInstitucionPorRowKey(rowKey, token);
        if (institucion != null)
        {
            contextoEdicion = new EditContext(institucion);
        }
    }

    private async Task Editar()
    {
        string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY"; 
        bool exito = await servicioInstitucion.EditarInstitucion(institucion, token);

        if (exito)
        {
            nav.NavigateTo("/instituciones");
        }
        else
        {
            await sweetAlertService.FireAsync("Error", "No se pudo editar la institución", SweetAlertIcon.Error);
        }
    }

    private async Task CancelarEdicion()
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Está seguro de cancelar la edición? Los cambios no guardados se perderán.",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Sí"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            nav.NavigateTo("/instituciones", forceLoad: true);
        }
    }
}
