@page "/estudio/editar/{rowKey}"

@inject IEstudioService servicioEstudio
@inject IInstitucionService servicioInstitucion
@inject ITipoEstudioService servicioTipoEstudio
@inject IGradoAcademicoService servicioGrado
@inject NavigationManager nav
@inject SweetAlertService sweetAlertService

<h3>Editar Estudio</h3>

@if (estudio != null)
{
    <EditForm EditContext="contextoEdicion">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label>Tipo de Estudio:</label>
            <div>
                <select class="form-control" @bind="@estudio.TipoEstudio">
                    @foreach (var tipoestudio in TipoEstudios.Where(t => t.Estado == "Activo"))
                    {
                        <option value="@tipoestudio.Nombre">@tipoestudio.Nombre</option>
                    }
                </select>
                <ValidationMessage For="@(() => estudio.TipoEstudio)" />
            </div>
        </div>
        <div class="mb-3">
            <label>Afiliado:</label>
            <div>
                <InputText class="form-control" @bind-Value="@estudio.Afiliado" />
                <ValidationMessage For="@(() => estudio.Afiliado)" />
            </div>
        </div>
        <div class="mb-3">
            <label>Grado:</label>
            <div>
                <select class="form-control" @bind="@estudio.Grado">
                    @foreach (var grado in GradosAcademicos.Where(g => g.Estado == "Activo"))
                    {
                        <option value="@grado.NombreGrado">@grado.NombreGrado</option>
                    }
                </select>
                <ValidationMessage For="@(() => @estudio.Grado)" />
            </div>
        </div>
        <div class="mb-3">
            <label>Título Recibido:</label>
            <div>
                <InputText class="form-control" @bind-Value="@estudio.TituloRecibido" />
                <ValidationMessage For="@(() => estudio.TituloRecibido)" />
            </div>
        </div>
        <div class="mb-3">
            <label>Institución:</label>
            <div>
                <select class="form-control" @bind="@estudio.Institucion">
                    @foreach (var institucion in Instituciones.Where(i => i.Estado == "Activo"))
                    {
                        <option value="@institucion.Nombre">@institucion.Nombre</option>
                    }
                </select>
                <ValidationMessage For="@(() => @estudio.Institucion)" />
            </div>
        </div>

        <div class="mb-3">
            <label>Año:</label>
            <div>
                <InputNumber class="form-control" @bind-Value="@estudio.Año" />
                <ValidationMessage For="@(() => estudio.Año)" />
            </div>
        </div>
        <div class="mb-3">
            <label>Estado:</label>
            <div>
                <select class="form-control" @bind="@estudio.Estado">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" @onclick="Editar">Editar</button>
        <button class="btn btn-primary" @onclick="CancelarEdicion">Cancelar</button> <!-- Modificado -->
    </EditForm>
}
else
{
    <p>Cargando...</p>
}

@code {
    private EditContext contextoEdicion;
    private Estudio estudio;

    [Parameter]
    public string rowKey { get; set; }

    private List<Institucion> Instituciones { get; set; } = new List<Institucion>();
    private List<TipoEstudio> TipoEstudios { get; set; } = new List<TipoEstudio>();
    private List<GradoAcademico> GradosAcademicos { get; set; } = new List<GradoAcademico>();

    protected override async Task OnInitializedAsync()
    {
        string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY";
        // Cargar lista de instituciones
        var respuestaInstituciones = await servicioInstitucion.ListaInstituciones(token);
        Instituciones = respuestaInstituciones.Where(i => i.Estado == "Activo").ToList();

        // Cargar lista de tipos de estudio
        var respuestaTipoEstudios = await servicioTipoEstudio.ListaTiposEstudio(token);
        TipoEstudios = respuestaTipoEstudios.Where(t => t.Estado == "Activo").ToList();

        // Cargar lista de grados academicos
        var respuestaGrados = await servicioGrado.ListaGradosAcademicos(token);
        GradosAcademicos = respuestaGrados.Where(g => g.Estado == "Activo").ToList();

        // Obtener datos del estudio a editar
        estudio = await servicioEstudio.ObtenerEstudioPorRowKey(rowKey, token);
        if (estudio != null)
        {
            contextoEdicion = new EditContext(estudio);
        }
    }

    private async Task Editar()
    {
        if (contextoEdicion.Validate())
        {
            string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY";
            bool exito = await servicioEstudio.EditarEstudio(estudio, token);

            if (exito)
            {
                nav.NavigateTo("/estudios");
            }
            else
            {
                await sweetAlertService.FireAsync("Error", "No se pudo editar el estudio", SweetAlertIcon.Error);
            }
        }
    }

    private async Task CancelarEdicion()
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Está seguro de cancelar la edición? Los cambios no guardados se perderán.",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Sí"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            nav.NavigateTo("/estudios", forceLoad: true);
        }
    }
}
